%head
  %title Wisdom Sun
%h1 Welcome to Wisdom Sun
%h1 Welcome to Wisdom Sun
%h1 Welcome to Wisdom Moon
%h1 Welcome to Wisdom Sun
%h1 Welcome to Wisdom Sun
%h1 Welcome to Wisdom Sun
%p Find me in app/views/welcome/index.html.haml
%p Find me in app/views/welcome/index.html.haml
%p Find me in app/views/welcome/index.html.haml
%p Find me in app/views/welcome/index.html.haml
%p Find me in app/views/welcome/index.html.haml
%p Find me in app/views/welcome/index.html.haml
%p Find me in app/views/welcome/index.html.haml
%p Find me in app/views/welcome/index.html.haml
%p Find me in app/views/welcome/index.html.haml
%p Find me in app/views/welcome/index.html.haml
%p Find me in app/views/welcome/index.html.haml
