.wrapper
  = render "/layouts/menu"

  .container
    .header
      .header-title Books
    .content
      .content-box
        - @books.each do |book|
          %img{:src => '/assets/books/' + book.picture, :width => '400'}
          .title
  = render "/layouts/footer"

