= stylesheet_link_tag "photos"
.wrapper
  .container
    = render "/layouts/menu"
    .header
      .header-title Albums
    .content
      - @albums.each do |album|
        .album-content-box
          .album-img-box
            %img{:src => album.album_cover.url}    
          .text-box
            =link_to "#{album.name}", photos_path(:album_id => album.id)
  = render "/layouts/footer" 