/**************************
 *        GENERAL
 *= require redactor-rails
 **************************/
body {
  background-color: #65a9bd;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  margin: 0 0;
  padding: 0 0;
}
.line {
  background-color: #aaa;
  margin: 20px 0;
  height: 1px;
  width: 100%;
}
.clearfix {
  clear: both;
}
.wrapper {
  margin: 0 auto;
  width: 960px;
}

/**************************
 *          MENU 
 **************************/
.menu {
  border-bottom: 1px solid #fff;
  color: #fff;
  display: block;
  font-family: "Verdana", "Arial", sans-serif;
  font-size: 15px;
  margin: 0 auto 20px auto;
}
.menu-container {
  position: relative;
  text-align: right;
}
.menu-logo-container {
  border: 1px solid #eee;
  display: inline-block;
  float: left;
  height: 80px;
  margin: 8px 0 0 10px;
  width: 200px;
}
.menu-title {
  color: #444;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.75em;
  margin: -47px 0 0 20px;
  position: absolute;
  text-transform: uppercase;
}
.menu-item-container {
  display: inline-block;
  text-align: center;
  width: 700px;
}
.menu-item {
  border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 50px 0 0 0;
  padding: 15px 15px;
  text-decoration: none;
  transition: 0.1s;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
}
.menu-item:hover, .menu-item.active { 
  background-color: #506a72; /* #5f74a6; */
  color: #fff;
}
.menu-logo {
  background-color: #eee;
  width: 60px;
  height: 60px;
}

/**************************
 *         BODY
 **************************/
.container {
  background-color: #fafafa;
  border: 1px solid #777;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 5px #777;
  -moz-box-shadow: 0 0 5px #777;
  -webkit-box-shadow: 0 0 5px #777;
  margin-top: 20px;
  padding: 25px 20px 70px 20px;
}
.container-left {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  width: 180px;
}
.container-left .title{
  background-color: #454545;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #eee;
  display: block;
  font-size: 17px;
}
.container-left .title {
  padding: 7px 0 7px 20px;
}
.container-left .item {
  background-color: #f8f8f8;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #777;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  padding: 8px;
  transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
}
.container-left .item:hover {
  background-color: #fbfbfb;
  box-shadow: 0 2px 5px #aaa;
  -moz-box-shadow: 0 2px 5px #aaa;
  -webkit-box-shadow: 0 2px 5px #aaa;
}
.container-left .item .item-title {
  font-weight: bold;

}
.container-left .item .item-date {
  color: #999;
  margin-top: 5px;
  padding-left: 10px;
}

.container-left .item .item-location {

}
.container-left .item .item-title {

}
.container-left .item .item-date {

}
.container-left .item .item-location {

}
.container-right {
  display: inline-block;
  width: 713px;
}
.container-right .subtitle {
  border-bottom: 1px solid #aaa;
  color: #555;
  display: block;
  font-size: 17px;
  margin: 20px 0 20px 0;
  padding: 10px 0;
  text-align: center;
}
.container-right a {
  text-decoration: none;
}
.container-right .section {
  margin-bottom: 30px;
}
.quote-text {
  border-left: 3px solid #bbb;
  color: #777;
  font-style: oblique;
  margin: 15px 0;
  padding: 15px 0;
  text-align: center;
}
.quote-author {
  margin-top: 20px;
}
.about-pic {
  background-color: #e9e9e9;
  border: 1px solid #cfcfcf;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  height: 180px;
  width: 125px;
  vertical-align: top;
  transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
}
.about-pic:hover {
  box-shadow: 0 2px 5px #aaa;
  -moz-box-shadow: 0 2px 5px #aaa;
  -webkit-box-shadow: 0 2px 5px #aaa;
}
.about-text {
  color: #555;
  display: inline-block;
  font-size: 15px;
  line-height: 22px;
  padding-left: 15px;
  width: 400px;
  vertical-align: top;
}
.main-content {
  margin: 0 45px;
}
.main-title {
  border-bottom: 1px solid #ddd;
  color: #555;
  font-size: 27px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  text-align: center;
}
.main-text{
  color: #222;
  line-height: 40px;
}

/**************************
    OTHER PAGES (NOT HOME)
 **************************/
.container .header {
  background-color: none; /* #363638; */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 70px;
  position: relative;
}
.container .header-title {
  font-size: 30px;
  color: #363638; /* #fff; */
  /*
  position: absolute;
  left: 30px;
  top: 15px;
  */
  text-align: center;
  width: 100%;
}
.content {
  display: block;
  margin: 0 auto;
}

/**************************
 *        FOOTER
 **************************/
.footer {
  color: #fff;
  font-size: 15px;
  float: right;
  margin: 0 0 50px 0;}
.footer-item {
  display: inline-block;
  padding: 10px 10px;
}
.footer-item.footer-company {
  padding-left: 40px;
  padding-right: 40px;
}
/**************************
 *        LOGIN
 **************************/
.login-container {
  border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  background-color: #444;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  right: 0;
}
.login-container a {
  color: #fff;
  text-decoration: none;
}
.login-item:hover {
  background-color: #616161;
}
.login-item {
  padding-left: 10px;
  padding-right: 10px;
}
