// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content-box {
  background-color: #fafafa;
  border: 1px solid #ccc;
  display: inline-block;
  width: 95%;
  min-height: 290px;
  padding: 10px;
  margin: 10px 9px;
  vertical-align: top;
}
.content-box .img-box {
  display: inline-block;
  min-height: 240px;
  vertical-align: top;
}
.content-box img {
  display: block;
  margin: 10px 10px 10px 10px ;
  width: 170px;
}
.content-box .text-box {
  display: inline-block;
  line-height: 24px;
  width: 600px;
  vertical-align: top;
}
.content-box .title {
  display: inline-block;
  color: #444;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 10px 0px 30px;
}
.content-box .buy {
  display: inline-block;
  color: #440;
  // font-weight: bold;
  font-size: 17px;
  margin: 10px 10px 10px 30px;
  vertical-align: top;
}
.content-box .buy a{
  color: #444;
}
.content-box .author{
  color: #444;
  font-weight: italic;
  font-size: 17px;
  margin: 10px 10px 10px 30px;
}
.content-box .details{
  color: #444;
  font-size: 15px;
  margin: 10px 10px 10px 30px;
}
// .content-box a{
  // display: inline-block
// }

