// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content-box {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
	border: 1px solid #d4d4d4;
  color: #333;
  line-height: 25px;
	margin: 20px 0 0 18px;
}
.content-box .title a {
display: inline-block;
  color: #444;
}
.content-box .date {
display: inline-block;
  font-style: oblique;
}

.description-box {
	border: 1px solid #ddd;
  width: 915px;
	margin: 20px 0 40px 0;
}
.events-box {
	vertical-align: top;
	display: inline-block;
	width: 300px;
}
.event-box {
	padding: 25px;
  display: inline-block;
}
.content-box .img-box {
	display: inline-block;
  vertical-align: top;
}
.content-box img {
  display: block;
  margin: 10px 10px 10px 10px;
  width: 170px;
}


