// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content-box {
	     border: 1px solid #ddd;
	     width: 755px;
	     margin: 20px auto;
	     }
.description-box {
		 border: 1px solid #ddd;
	     	 width: 960px;
	     	 margin: 20px auto;
		 }
.events-box {
	    vertical-align: top;
	    display: inline-block;
	    width: 300px;
	    }
.event-box {
	   padding: 25px;
	   }
.img-box {
	 width: 200px;
	 display: inline-block;
	 }
.img-box img {
	     width: 100%;
	     padding: 5px;
	     }


