.content-box {
  background-color: #f8f8f8;
  border: 1px solid #d2d2d2;
  display: inline-block;
  width: 30%;
  margin: 10px 9px;
  vertical-align: top;
  overflow: hidden;
  padding-bottom: 15px;
}
.content-box:hover {
  background-color: #fbfbfb;
  box-shadow: 0 2px 5px #aaa;
  -moz-box-shadow: 0 2px 5px #aaa;
  -webkit-box-shadow: 0 2px 5px #aaa;
}
.album-content-box {
  background-color: #f8f8f8;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  width: 30%;
  margin: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}
.album-content-box:hover {
  background-color: #fbfbfb;
  box-shadow: 0 2px 5px #aaa;
  -moz-box-shadow: 0 2px 5px #aaa;
  -webkit-box-shadow: 0 2px 5px #aaa;
}
.album-content-box .album-img-box {
  display: inline-block;
  vertical-align: center;
  margin: 10px 10px 10px 10px;
  float: left;
  height: 150px;
  overflow: hidden;
}
.content-box .photo-img-box {
  display: inline-block;
  vertical-align: center;
  margin: 10px;
  float: left;
  overflow: hidden;
}
.fancybox-picture {
  height: 150px;
  padding: 15px;
  overflow: hidden;
}
.content-box img {
  // max-height: 215px;
  // max-width: 215px;
  width: 100%;
  // max-width: 215px;
  vertical-align: middle;
  overflow: hidden;
}
.album-content-box img {
  margin: 10px;
  // max-height: 215px;
  // max-width: 215px;
  width: 215px;
  // max-width: 215px;
  vertical-align: middle;
  overflow: hidden;
}
.text-box {
  // color: #070719;
  color: #0A122A;
  line-height: 32px;
  text-align: justify;
  font-size: 14px;
  margin: 0px 50px 30px 50px;
}
.album-content-box .text-box {
  color: #070719;
  text-align: center;
  font-size: 17px;
  margin: 5px;
}
.content-box .details{
  color: #444;
  font-size: 15px;
  margin: 10px 10px 10px 30px;
}
.back_link {
  text-align: right;
  font-size: 13px;
  margin: 0px 30px 10px 0px; 
}
