// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#slider {
  background-color: #333;
  border: 1px solid #eaeaea;
  margin-bottom: 15px;
  height: 300px;
  list-style-type: none;
  overflow: hidden;
}
#slider img {
  width: 100%;
}
#slider ul.slides {
  margin: 0;
  padding: 0;
}
#donations {
  display: block;
  float: right;
  text-align: center;
}
#donations a {
  color: #135cae;
  font-weight: bold;
  text-decoration: none;
}
#donationimage {
	width: 180px;
	padding-top: 8px;
}

