// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#slider {
  background-color: #333;
  margin-bottom: 15px;
  height: 450px;
  list-style-type: none;
}
#slider img {
  width: 650px;
}
