.footer
  .login-container
    -if user_signed_in?
      =link_to "Sign out", main_app.destroy_user_session_path, :method => :delete, :class => 'login-item'
      =link_to "Settings", main_app.edit_user_registration_path, :class => 'login-item'
      -if current_user.admin?
        =link_to "Admin Panel", main_app.admin_dashboard_path, :class => 'login-item'
    -else
      =link_to "Sign in", main_app.new_user_session_path, :class => 'login-item'
      =link_to "Sign up", main_app.new_user_registration_path, :class => 'login-item'
  .footer-item.footer-company &copy; Wisdom Sun 2013
  .footer-item
    %a{ :href => '/'}
      Home
  |
  .footer-item
    %a{ :href => '/otherPages/3'}
      About
  |
  .footer-item
    %a{ :href => '/events'}
      Events
  |
  .footer-item
    %a{ :href => '/books'}
      Books
  |
  .footer-item
    %a{ :href => '/albums'}
      Photos
  |
  .footer-item
    %a{ :href => '/categories/3'}
      Downloads
  |
  .footer-item
    %a{ :href => '/bulletin'}
      Bulletin
  |
  .footer-item
    %a{ :href => '/support'}
      Support
  |
  .footer-item
    %a{ :href => '/contact'}
      Contact
