.footer
  .footer-item.footer-company &copy; Wisdom Sun, 2013
  .footer-item Home
  |
  .footer-item About
  |
  .footer-item Books
  |
  .footer-item Events
  |
  .footer-item Downloads
  |
  .footer-item Bulletin
  |
  .footer-item Contact
